<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
   
  </head>
  <body>
    <nav class="navbar">
     
      <div class="nav-name">
         <span>Music Mash</span>
      </div>
         
      {{#each user}}
     <span>{{this.username}}</span>
     <a href="/profile/{{this.username}}"></a>
     {{/each}}
     </nav>
</div>
<div class="music-container">
	
	<div class="iframe-container" id="first-iframe">
    <iframe src="https://open.spotify.com/embed/track/{{songs.0.spotifyId}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" class="iframe"></iframe>
	  <a href="/vote?idFirstLeft={{songs.0._id}}&idFirstRight={{songs.1._id}}" class="vote-link">♡</a>
  </div>

 <div class="iframe-container">
    <iframe src="https://open.spotify.com/embed/track/{{songs.1.spotifyId}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" class="iframe"></iframe>
  	<a href="/vote?idSecondLeft={{songs.1._id}}&idSecondRight={{songs.0._id}}" class="vote-link">♡</a>
 </div>

 
    	<a href="/rank" class="back-button first-rankings-button"><button>Rankings</button></a>
       <a href="/" class="back-button"><button>Back</button></a> 
 
 
</div>
  {{#if err}}
    {{err}}
  {{/if}}

   
  </body>
</html>


